.dropdown-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.dropdown-input {
  width: 200px;
}

.dropdown-button {
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-button:hover {
  color: var(--volando-bright-blue);
}

.down-icon {
  margin-left: 10px;
  width: 12px;
}

/* text input styles */
.text-input {
  width: 100%;
  outline: none;
  position: relative;
}

.text-input::placeholder {
  color: var(--main-font-color);
}
.text-input:hover::placeholder {
  color: var(--volando-bright-blue);
}
.text-input:focus::placeholder {
  color: var(--light-grey-color);
}

/* line under the location input */
.input-line {
  height: 1px;
  width: 0;
  background-color: var(--light-grey-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 1s ease-in-out;
}

/* autocomplete styles */
.autocomplete-list {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-item:hover,
.autocomplete-item.highlighted {
  background-color: var(--autocomplete-item-highlight);
}

/* dropdown content styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: fit-content;
  overflow-y: auto;
  width: max-content;
  min-width: 200px;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.dropdown-content.show {
  display: block;
}

.checkbox-label {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.checkbox-label:hover {
  background-color: #f0f0f0;
}

/* added location box */
.location-box {
  display: flex;
  flex-wrap: wrap;
}

.added-location-wrapper {
  display: flex;
  align-items: center;
}

.added-location {
  position: relative;
  padding: 8px 20px 8px 8px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  cursor: default;
}

.remove-location {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
  color: red;
}
