/* General Styles for Hotel Card */
.container-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50vw;
  margin-bottom: 80px;
}

.hotel-card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: var(--border-shadow);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  width: 100%;
  transition: transform 0.2s;
  background-color: #ffffff;
  
}

.hotel-card:hover,
.hotel-card:focus {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.hotel-info--wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  position: relative;
}

.hotel-card__image-wrapper {
  flex-basis: 160px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 160px;
  overflow: hidden;
  border-radius: 10px;
}

.hotel-card__small-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}
.hotel-info__first-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.activities-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.activities-container span {
  margin-right: 5px;
  flex-shrink: 0;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hotel-address,
.hotel-rating {
  margin-top: 5px;
}

.map-container {
  width: 100%;
  height: 300px;
}

.add-heart {
  background: none;
  border: none;
  cursor: pointer;
}
.heart-icon {
  height: 24px;
}

.add-heart:hover .heart-icon {
  content: url(../../../public/heart-orange.png);
}

.arrow-details {
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

.arrow-details::before {
  content: url(../../../public/arrow-down.png);
  animation: zoomIn 0.5s ease;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.arrow-details.active:hover::before {
  content: url(../../../public/arrow-up.png);
  animation: zoomIn 0.5s ease;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.additional-container {
  margin-top: 10px;
}

.mobile-map-container {
  width: 100%;
  height: 200px;
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 768px) {
  .container-card {
    width: 100%; 
    padding: 0 10px; 
  }

  .hotel-card {
    flex-direction: column;
    width: 100%; 
    margin-bottom: 10px; 
  }

  .hotel-info--wrapper {
    flex-direction: column;
  }

  .hotel-card__image-wrapper {
    width: 100%;
    height: auto;
  }

  .hotel-card__small-image {
    width: 100%;
    height: auto;
  }

  .hotel-info {
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .hotel-card h2 {
    font-size: 1em;
  }

  .hotel-details {
    width: 100%;
  }
} 

@media (min-width: 769px) {
  .mobile-map-container {
    display: none;
  }
}
