.container-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50vw;
}

.hotel-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  width: 100%;
  transition: transform 0.2s;
}

.hotel-card:hover,
.hotel-card:focus {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.hotel-info--wrapper {
  display: flex;
  gap: 20px;
}

.hotel-card__image-wrapper {
  flex-basis: 160px; 
  flex-shrink: 0;
  flex-grow: 0;
  height: 225px;
  overflow: hidden;
  border-radius: 10px;
}

.hotel-card__small-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activities-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.activities-container span {
  margin-right: 5px;
  flex-shrink: 0;
}

.activities-list {
  margin: 0;
  flex-grow: 1;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hotel-address,
.hotel-rating {
  margin-top: 5px;
}


.hotel-card h2 {
  margin: 0;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .hotel-card {
    flex-direction: column;
  }

  .hotel-card h2 {
    font-size: 1.2em;
  }

  .hotel-details {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .hotel-card h2 {
    font-size: 1em;
  }

  .hotel-details {
    width: 100%;
  }
}

.favorite-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.add-heart {
  position: relative;
}

.add-heart::before {
  content: url(../../../public/heart-grey.png);
  animation: zoomIn 0.5s ease;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
}

.add-heart.active:hover::before {
  content: url(../../../public/heart-orange.png);
  animation: zoomIn 0.5s ease;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
}

.arrow-details::before {
  content: url(../Dropdown/img/down-icon.png);
  animation: zoomIn 0.5s ease;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
}

.arrow-details.active:hover::before {
  content: url(../../../public/arrow-up.png);
  animation: zoomIn 0.5s ease;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
}

.additional-container {
  margin-top: 10px;
  /* Space between the main content and additional content */
}
