.search-results-container {
  display: flex;
  height: 100%;
}

.filters-applied {
  flex-basis: 20%;
  background-color: antiquewhite;
}
.search-cards {
  flex-basis: 40%;
  padding: 0 10px;
}
.map-container {
  height: 100%;
  flex-basis: 40%;
}

.map-container p {
  background-color: aquamarine;
}