.search-results-container {
  display: flex;
  height: 100%;
  gap: 10px;
  margin: 0 20px;
}

.filters-applied {
  flex-basis: 20%;
  border-radius: 0 10px 10px 0;
  border: 1px solid #ddd;
  padding: 10px;
}
.search-cards {
  flex-basis: 40%;
  padding: 0 10px;
}
.map-container {
  width: 100%;
  height: 465px;
  border-radius: 10px 0 0 10px;
  position: sticky;
  top: 0;
}
