
.tabs-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs-container div {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--volando-light-orange);
  color: white;
  transition: background-color 0.3s;
}

.tabs-container div:hover,
.tabs-container div:focus,
.tabs-container .active {
  background-color: var(--volando-bright-orange);
  color: white;
}

.review-card {
  border: 1px solid var(--light-grey-color);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #ffffff;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid var(--light-grey-color);
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: var(--volando-bright-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--volando-dark-blue);
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--main-font-size);
  margin-right: 5px;
}

.edit-button {
  background-color: var(--volando-bright-orange);
}

.edit-button:hover {
  background-color: var(--volando-light-orange);
}

.delete-button {
  background-color: var(--volando-bright-blue);
}

.delete-button:hover {
  background-color: var(--volando-dark-blue);
}

.carousel-photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
