.team__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.team-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.team-member {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  margin: 10px;
}

.team-image {
  width: 100%;
  margin-bottom: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.team-name {
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
}

.team-role {
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
  margin-top: 10px;
}

.team-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 20px;
}
.team-icon {
  display: inline-block;
  transition: fill 0.3s;
  fill: gray;
}

.team-icon:hover {
  fill: var(--volando-bright-orange);
}

@media (max-width: 600px) {
  .team-section {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    max-width: 100%;
    margin: 10px 0;
  }

  .team-icon {
    fill: var(--volando-bright-orange);
  }

  .team-icons {
    gap: 10px;
  }
}
