.container-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50vw;
}

.hotel-card {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  width: 100%;
  /* Ensuring responsiveness */
  transition: transform 0.2s;
}

.hotel-card:hover,
.hotel-card:focus {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activities-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.activities-container span {
  margin-right: 5px;
  flex-shrink: 0;
}

.activities-list {
  margin: 0;
  flex-grow: 1;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hotel-address,
.hotel-rating {
  margin-top: 5px;
}

.hotel-card img {
  max-width: 150px;
  height: auto;
}

.hotel-card h2 {
  margin: 0;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .hotel-card {
    flex-direction: column;
  }

  .hotel-card h2 {
    font-size: 1.2em;
  }

  .hotel-details {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .hotel-card h2 {
    font-size: 1em;
  }

  .hotel-details {
    width: 100%;
  }
}

.favorite-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.add-heart {
  position: relative;
}

.add-heart::before {
  content: url(../../../public/favorites.png);
  animation: zoomIn 0.5s ease;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
}

.add-heart.active:hover::before {
  content: '❤️';
  animation: zoomIn 0.5s ease;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;

}
