.header {
  width: 750px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.language-selector {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.flag-icon {
  width: 24px;
  height: 24px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: -10px;
  background-color: white;
  padding: 0 10px 10px;
  z-index: 1000;
}

.dropdown-flag {
  width: 24px; 
  height: 24px;
  display: block;
  margin: 10px 0;
  cursor: pointer;
}
