
.dropdown-content--large {
  flex-wrap: wrap;
  max-width: 896px;
  transform: translateX(-30px);
}

.dropdown-content--large.show {
  display: flex;
}

.category-section {
  padding: 10px;
  width: 33%;
}

.category-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.category-image {
  width: 50px; 
  height: 50px; 
  margin-right: 12px;
}

.category-title {
  font-weight: bold;
  font-size: 16px;
  color: darkgray;
}

.subcategory-list {
  margin-left: 60px; 
}

.subcategory {
  width: fit-content;
  padding: 0;
}

.checkbox-label input {
  margin-right: 5px;
}
