.dropdown-content--large {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: fit-content;
  overflow-y: auto;
  width: max-content;
  min-width: 200px;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
  /* start of large */
  flex-wrap: wrap;
  max-width: 896px;
  transform: translateX(-30px);
}

.dropdown-content--large.show {
  display: flex;
}

.category-section {
  padding: 10px;
  width: 33%;
}

.category-header {
  display: flex;
  align-items: center;
}

.category-image {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.category-title {
  font-weight: bold;
  font-size: var(--category-title-font-size);
  color: var(--light-grey-color);
}

.subcategory-list {
  margin-left: 60px;
}

.subcategory {
  width: fit-content;
  padding: 2px 0;
  font-size: var(--main-font-size);
}

.checkbox-label input {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .dropdown-content--large {
    flex-wrap: nowrap;
    max-width: 100%;
    transform: none;
    max-height: 400px;
  }

  .category-section {
    width: 100%;
    padding: 5px;
  }

  .subcategory-list {
    margin-left: 0;
  }
}
