@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: #36454F;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
  padding: 0;
}
