@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--main-font-size);
  color: var(--main-font-color);
}

body {
  margin: 0;
  padding: 0;
}

a {
  
}

/* .container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
} */

ul {
  list-style: none;
  padding: 0;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--main-font-size);
}

.icon {
  border: none;
  background: none;
}
