.main-page__container {
  margin: 0 auto;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-top-0 {
  padding-top: 0;
}

.animation-container {
  display: flex;
  justify-content: center;
  margin: 150px 0;
  height: 30vh; 
}

.animation {
  width: 100%;
  max-width: 300px;
}

.map-container {
  flex: 1;
  height: 100%;
  border-radius: 15px; 
  overflow: hidden;
}

