.main-page__container {
  margin: 0 auto;
  width: 100vw;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-top-0 {
  padding-top: 0;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
}

.animation {
  width: 100%;
  max-width: 600px;
}

.map-container {
  flex: 1;
  height: 100%;
  border-radius: 15px; 
  overflow: hidden;
}

