header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.main-page__container {
  padding-top: 100px;
  margin: 0 auto;
  width: fit-content;
}

.search-results-container {
  display: flex;
}

.left-content {
  flex: 1;
  padding: 20px;
}

.map-container {
  flex: 1;
  height: 100%;
  border-radius: 15px; 
  overflow: hidden;
}

